* { 
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
   min-height: 100vh;
    min-width: 100vw;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    color:#0065FC;  
} 
nav img{
    height: 50px;
    margin-left: 13px;
}
nav li {
    margin: auto 20px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.linavi{
    padding-top: 18px;
    visibility: hidden;
}
.linav{
    display: flex;
}
.linu{
    color: #0065FC;
    text-decoration: none;
}
.lina{
    color: black;
    text-decoration: none;
}
.linavhbgm{
    padding-right: 50px;
    
}

 mark{
    color: black;
    background-color:white
    }
    .plus{
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    /*MAIN*/

    /*recherches*/
    
    .recherche{
    padding: 0 15px;
    }
    .rechercheform{
        display: inline-flex;
        max-width: 100%;
        overflow: auto;
    }

    .ubication{
        background-color: #f2f2f2;
        padding: 1rem 1.25rem;
        border-radius: 1rem 0 0 1rem;
        text-align: center;
    }
    
    .sea{
        background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}
    
    .rechercheformrechercheinput{
        border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}
.fa-search{
    visibility: hidden;
}
    
.filtericone{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.filtre {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}
.filtericone :hover{
    background-color: #0065FC;
}
.ft{
    border: none;
}
.fil{
    padding-right: 10px;
}
.icone {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.crl{ background-color: unset;
    border: 2px solid #DEEBFF;
    min-width: unset;
    min-height: unset;
    height: 1.5rem;
    width: 1.5rem;
}
.ptext{
    padding-left: 5px;
}
.titre:hover{
    background-color: unset;
}
.titre{
    padding-left: 1rem;
    padding-right: 1rem;
}

/*hebergement*/
.hbgm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    }
.hbgmmain{
    border: solid 2px #f2f2f2;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 70%;
    order: 1;
    }
    .titremarseille{
        padding-left: 35px;
    }
.boitehebergement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
}

.etoile{
    display: flex;
    padding-left: 5px;
    color: #0065FC;
}
.hbgmart{
    border: solid 3px white;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 200px;
    margin: 30px auto 30px auto;


}
.tote{
    text-decoration: none;
}

.fig{display: block;
    margin: 0px;
}
.pht{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    width: 100%;
    height: 120px;
    object-fit: cover;
    padding-bottom: 2px;
}

.caption{
    color: black;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.descp{
    margin: 0;
}
.cat{
    color: black;
    padding-left: 5px;
    margin: 0;
}

/*populaires*/

.popumain{
    border: solid 2px #F2F2F2;
    border-radius: 15px;
    background-color: #f2f2f2;
    width: 27%;
    order: 2;
    position: absolute;
    right: 0px;
}
.poputitre{
    padding-left: 20px;
}
.boitepopulaires{
    padding:0 20px;   
}

.fa-chart-line{
    text-align: right;
    padding-left: 120px;
    position: absolute;
    right: 20px;
}
.popuart{
    display:flex;
    border: solid 3px white;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 158px;
    text-decoration: none;
    
    }
    .boitepopuetoile{
        display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    
    }
    .catpopu{
        color: black;
        margin: 0;
    }
.popuimg{
        margin: 0;
    }

.popupht{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 110px;
    height: 95%;
    object-fit: cover;
    padding-top: 3px;
    padding-bottom: 0px;
}
.boitepopuicon{
    color: #0065FC;
}
.gris{
    color: #F2F2F2
}
/*Activités*/

.activiteTitre{
    padding-left: 20px;
}
.activite{
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    margin: 0 20px;
}
.boite{
display: flex;
flex-direction: column;
box-shadow: 0 0 10px gray;
border-radius: 1rem;
text-decoration: none;
}
.imgactivite{
    position: relative;
    flex: 1;
}
.phtactivite{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    height: 100%;
    width: 100% ;
    object-fit: cover;
}
.activite1{
    grid-column: 1/2;
    grid-row: 2/7;
}
.activite2{
    grid-column: 2/3;
    grid-row: 2/5;
}
.activite3{
    grid-row: 2/7;
    grid-column: 3/4;
}
.activite4{
    grid-column: 4/5;
    grid-row: 2/3;
}
.activite5{
    grid-column: 2/3;
    grid-row: 6/7;
}
.activite6{
    grid-column: 4/5;
    grid-row: 4/7;
}
.nomactivite{
    text-decoration:none;
    color: black;
    padding-left: 5px;
}
/*footer*/
.feet{
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    background-color: #f2f2f2;
}
.boitefeet{
    display: flex;
    flex-direction:column;
    padding-left: 0;
}
.feeta{
    text-decoration: none;
    color: black;
}